<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<style is="custom-style">
:root {
  --primary-color: #2c3e50;
  --accent-color: #18bc9c;
}

body {
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

article {
  padding: 1em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-color);
  font-size: 20px;
}

article .center {
  text-align: center;
}

article h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 200%;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

article a {
  color: var(--accent-color);
}

article section {
  padding-top: 80px;
  padding-bottom: 80px;
}

article hr {
  width: 50%;
  border-style: solid;
  border-color: #D0D0D0;
  border-width: 1px;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px;
}

#contact-us paper-icon-button {
  margin: 0px 20px;
  height: 100px;
  width: 100px;
}
</style>
