<style is="custom-style">

  :root {
    --header-height: 100vh;
    --toolbar-height: 80px;
    --header-height-lowres: 100vh;
    --primary-color: #2c3e50;
    --accent-color: #18bc9c;
  }

  body {
    margin: 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
  }

  app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    color: white;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://farm1.staticflickr.com/710/22294999764_cc57e2af25_z.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

    --app-header-background-front-layer: {
      background: -webkit-linear-gradient(top, transparent 0%, transparent 50%, rgba(0,0,0,0.5) 100%);
    };

    --app-header-background-rear-layer: {
      background-color: var(--primary-color);
    };
    z-index: 10000;
  }

  app-header .actions {
    padding-top: 20px;
  }

  app-header a {
    text-decoration: none;
    color: var(--accent-color);
  }

  app-header paper-button {
    background-color: var(--accent-color);
    color: white;
  }

  app-toolbar {
    height: var(--toolbar-height);
  }

  article {
    padding: 1em;
    padding-top: var(--header-height);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-color);
    font-size: 20px;
  }

  article .center {
    text-align: center;
  }

  article h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
  }

  article a {
    color: var(--accent-color);
  }

  article section {
    padding-top: var(--toolbar-height);
    padding-bottom: var(--toolbar-height);
  }

  article hr {
    width: 50%;
    border-style: solid;
    border-color: #D0D0D0;
    border-width: 1px;
  }

  footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
  }

  [main-title] {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 30%;
    font-weight: 700;
    width: 100%;
  }

  [main-title] h1 {
    font-size: 5vw;
  }

  [main-title] h2 {
    font-size: 2vw;
  }

  [condensed-title] {
    margin-left: 30px;
    overflow: hidden;
  }

  img.nav-logo {
    display: inline-block;
    padding-top: 2px;
    max-height: 4em;
    max-width: 100%;
  }

  #map {
    text-align: center;
  }

  #contact-us .icons {
    text-align: center;
  }

  #contact-us paper-icon-button {
    margin: 0px 20px;
    height: 100px;
    width: 100px;
  }

  @media (max-width: 639px) {

    [main-title] h1 {
      font-size: 30px;
    }
    [main-title] h2 {
      font-size: 12px;
    }
    article {
      font-size: 12px;
    }
  }
</style>
